__pycache__
cache
data
debug
trash
wandb
.ipynb_checkpoints
test_run
*.pdb
*.zip
*.npy
workdir
casf_final.pkl
casf_lig.csv
casf_out.pkl
conformers_20steps.pkl
generate.sbatch
pdbbind_lig.csv
pdbbind_out.pkl
